*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);


--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);
}
body {
    font-size: 32px;
    font-family: "Poppins";
    background-color: var(--Smokey-grey);
}
.container{
    width:400px;
    height:330px;
 
    border-radius: 15px;
   transform: translate(-50%,50%);
   top:50%;
   left:50%;
   position: relative;
   background-color: var(--White);
   border-bottom-right-radius: 90px;

}
.input3{
    padding:20px;
    display:flex;
   margin-left: -10px;
    

}
input{
    width:100px;
    margin-right:20px;
    padding: 10px;
    border-radius: 10px;
}
span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 3px;
   
   
 
}
div{
    
    width: 300px;
  
}
hr{
margin-top: 20px;
margin-right: 30px;
margin-left: 20px;


}.btn{
    width:45px;
    height:45px;
    border-radius: 50%;
    background-color: var(--Purple);
    position: fixed;
    right:15px;  border-bottom: 1px solid var(--Smokey-grey);
    position: fixed;
    right:30px;
    top:120px;
}
.btn:hover
{
  background-color: var(--Light-grey);  
}
.section1{
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 40px;
    font-weight:bolder;
    margin-top: 20px;
    left:85px;
    

}


/*
.hidden::before{
display: hidden;
    content: "--";
    position: absolute;
    left:-60px;

    font-size: 60px;
    color:var(--Purple);
    font-weight: bolder;
*/
  
.section1 .hidden{
   
    display: hidden;

   position: absolute;
 
  
    font-size: 60px;
    color:var(--Purple);
    font-weight: bolder;
    position: absolute;
    left:-70px;
     padding-top:0px;
  
  


}

.input3 {
    display:flex;
    position: relative;
}

.erreurDay,
.erreurMonth,
.erreurYear

{
    color:red;
    font-size: 8px;
     font-weight: bolder;   
    
}
.erreurDay{
    position: fixed;
    top:110px; 
}
.erreurMonth{
    position: fixed;
    top:110px;
    left:130px 
}
.erreurYear{
    position: fixed;
    top:110px; 
    left:250px


}
/* for the -- disepear */
/*
#hidden::before,
#hidden::before,
    #hidden::before{
        content:" ";
 display: hidden ;
}/

